---
layout: base.njk
---

<header>
    <img id="logo" src="../images/Asset 5.svg" alt="bing bong internet gone" width="180" height="105">
</header>
<main>
    {{ content | safe }}
</main>
<p id="end">Rico Rodriguez and the Just Cause video game series are properties of Avalanche Studios.</p>