body{
    background-image: url("../images/Asset_7.svg");
    background-size: 400px;
    background-color: #948484;
    background-repeat: repeat;
    margin: 0px;
}

main{
    background-color: #BDAFAF;
    width: 1090px;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 100px;
    width: min(150ch, 100vw - 2rem);
    margin-inline: auto;
}

.container,.top-container{ 
    font-family: 'Monda', sans-serif;
    background-color: #CBC3C3;
    width: 410px;
    padding-inline: 25px;
    line-height: 0.9;
    font-size: 20px;
    margin: 22px;
}

.top-container h1{
    font-weight: 700;
    font-size: 45px;
}

.top-container h2{
    font-weight: 400;
}

.container h1{
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}

.container h2{
    font-weight: 700;
    font-size: 27px;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: -10px;
}

.container h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.container li{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 5px;
}

header{
    height: 90px;
    background: black;
    padding-top: 1rem;
    border-bottom: 8px solid red;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -12px;
}

#rico{
    border: 8px solid red;
    margin: 20px;
    margin-left: 55px;
    margin-right: 55px;
}

.align{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.align-test{
    float: right;
    margin-top: -1640px;
    margin-right: 40px;
}

.line{
    height: 2px; 
    background-color: #B4A8A8;
    border-width: 0;
    margin-top: -20px;
    margin-bottom: -10px;
}

.year{
    font-size: 20px;
    color: #7B7373;
}

.float{
    border-top: 1px solid #CBC3C3;
    border-bottom: 1px solid #CBC3C3;
}

#end{
    background-color: #343434;
    height: 150px;
    margin: 0px;
    text-align: center;
    line-height: 150px;
    color: white;
}