---
layout: cv.njk
title: Home
---

<div class="flex">
    <div class="top">
        <div class="ricotest">
            <img src="images/rico.jpg" alt="rico rodriguez" width="400" height="270" id="rico">
        </div>
        <!-- <div class="ricotest fake-border">
            <img src="images/rico.jpg" alt="rico rodriguez" width="400" height="270">
        </div> -->
        <div class="container top-text">
            <h1>Rico Rodriguez</h1>
            <hr class="line">
            <h2>Phone: +52 420 666 1337</h2>
            <h2>Email: rodriguez@solis.jc</h2>
            <h2>Twitter: @thescorpion</h2>
        </div>
    </div>
</div>
<div class="flex">
    <div class="left">
        <div class="container">
            <h1>Professional experience</h1>
            <hr class="line">
            <h2>Demolition expert, <span class="year">2005 - 2018</span></h2>
            <h3>Self-employed, multiple locations</h3>
            <ul>
                <li>Specialist in the art of causing destruction, mainly through explosions of various sizes but also using high-velocity projectiles as well as various vehicles.</li>
                <li>Hotwired nuclear missiles to blow up an oil refinery, causing an explosion of roughly 500 kilotons of TNT and completely destroying all oil.</li>
                <li>Destroyed a nuclear power plant by detonating its nuclear fuel. This caused an explosion with an energy output of about 250 kilotons of TNT.</li>
            </ul>
            <h2>Assassin <span style="font-weight: 400;">and</span> dictator removal specialist, <span class="year">2005 - 2018</span></h2>
            <h3>The agency, multiple locations</h3>
            <ul>
                <li>Has overthrown multiple evil dicators around the world.</li>
                <li>Master assassin; will always finish the job no matter the target, as long as they are evil.</li>
            </ul>
            <h2>Expert driver, <span class="year">1986 - present</span></h2>
            <h3>Self-employed, multiple locations</h3>
            <ul>
                <li>Expert handling of any type of vehicle, not just limited to land-based vehicles.</li>
                <li>Lots of experience with dangerous car chases as well as averting incoming missiles and artillery from various advanced attack helicopters and tanks.</li>
                <li>Masterful ramming skills; has successfully destroyed enemy infrastructure using various vehicles, including trucks, sports cars and passenger planes.</li>
            </ul>
            <h2>Professional badass <span style="font-weight:400;">and</span> one-man army, <span class="year">1986 - present</span></h2>
            <h3>Self-employed, multiple locations</h3>
            <ul>
                <li>Massive amounts of first-hand combat experience against large paramilitary armies.</li>
                <li>Fights for the justice and freedom of people.</li>
            </ul>
            <h2>CIA operative, <span class="year">1986 - 2015</span></h2>
            <h3>The Agency, USA</h3>
            <ul>
                <li>Joined The Agency (a covert arm of the CIA) and received specialized training in overthrowing evil dictators.</li>
                <li>Expert in the handling of any sort of firearm, as well as proficient vehicle handling.</li>
            </ul>
            <h2>F1 race car driver, <span class="year">1983</span></h2>
            <h3>Self-employed, Medici</h3>
            <ul>
                <li>Medici Grand Prix champion</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="container">
            <h1>Skills</h1>
            <hr class="line">
            <ul>
                <li>Excels in driving any vehicle regardless of whether it's land-based, airborne or a watercraft.</li>
                <li>Incredibly tough: Can survive being hit by literally anything. Some examples include: cars, bullets, explosions, boats, trucks, tank cannon shells, railgun projectiles, aircraft carriers, passenger planes, etc.</li>
                <li>Fully heals any injuries in seconds.</li>
                <li>Proficient at using any firearm: Can aim perfectly in any situation, for example while hanging upside down from a helicopter moving at full speed.</li>
            </ul>
        </div>
        <div class="container">
            <h1>Education</h1>
            <hr class="line">
            <h2 style="margin-top:5px;margin-bottom:-20px;"><span class="year">1986 - XXXX</span></h2>
            <h3>Extensive CIA training and education regarding all sorts of firearms, vehicles and other gadgets.</h3>
        </div>
        <div class="container">
            <h1>Languages</h1>
            <hr class="line">
            <h3>Spanish - Native language</h3>
            <h3 style="margin-top:-16px;">English - Speaks fluent english</h3>
        </div>
        <div class="container">
            <h1>References</h1>
            <hr class="line">
            <h3>Tom Sheldon - Friend, mentor and former commanding officer</h3>
            <h3 style="margin-top:-16px;">Maria Kane - Ex-lover and colleague</h3>
            <h3 style="margin-top:-16px;">Mario Frigo - Childhood friend</h3>
        </div>
    </div>
</div>